<footer class="footer"
        style="background-color: #a1887f">
  <div class="container d-flex flex-column align-items-center">
    <div class="container d-flex justify-content-center align-items-center m-3">
      <%= link_to image_tag("TwitterIcon.png", width: "40px", height: "40px"), "https://twitter.com/hirokimry", target: :_blank, class:"ms-3" %>
      <%= link_to image_tag("GitHubIcon.png", width: "40px", height: "40px"), "https://github.com/hirokimry", target: :_blank, class:"ms-3" %>
      <%= link_to image_tag("LinkIcon.png", width: "40px", height: "40px"), "https://hirokimoriya.com/", target: :_blank, class:"ms-3" %>
    </div>
    <p class="text-white text-center">
      Copyright © 2022 Hiroki Moriya All rights reserved.
    </p>
  </div>
</footer>