<div class="tab-pane fade"
     id="pills-weekly-ranking"
     role="tabpanel"
     aria-labelledby="pills-weekly-ranking-tab">
  <% @articles.where(publication_date: Time.now.beginning_of_week..Time.now.end_of_week).order(access_count: :desc).limit(10).each do |article| %>
  <%= link_to "#{article.title}", article_path(article.id), class:"link-secondary", target: :_blank %>
  <%= @media.find(article.medium_id).name %>
  <%= "#{article.publication_date.strftime("%m/%d %H:%M").to_s}" %>
  <br>
  <% end %>
</div>